<clr-datagrid [(clrDgSingleSelected)] ="selected">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary actionbar-btn" (click)="onNew()"><clr-icon shape="plus"></clr-icon> جدید</button>
      <button type="button" class="btn btn-sm btn-secondary actionbar-btn" (click)="onEdit()" [disabled]="!selected"><clr-icon shape="pencil"></clr-icon> ویرایش</button>
      <button type="button" class="btn btn-sm btn-secondary actionbar-btn" (click)="onDelete()" [disabled]="!selected"><clr-icon shape="close"></clr-icon> حذف</button>
    </div>
  </clr-dg-action-bar>

  <clr-dg-placeholder>): هیچ محصولی یافت نشد</clr-dg-placeholder>

  <clr-dg-column class="dg-header" [clrDgField]="'Name'">نام محصول</clr-dg-column>
  <clr-dg-column class="dg-header"  [clrDgField]="'Category.Name'" >دسته بندی</clr-dg-column>
  <clr-dg-column class="dg-header" [clrDgField]="'Price'">قیمت</clr-dg-column>
  <clr-dg-column class="dg-header" [clrDgField]="'Count'">تعداد</clr-dg-column>
  <clr-dg-column class="dg-header">تصویر</clr-dg-column>

  <clr-dg-row *clrDgItems="let product of products"
              [clrDgItem]="product">
    <clr-dg-cell class="dg-cell">{{product.Name}}</clr-dg-cell>
    <clr-dg-cell class="dg-cell">{{product.Category?.Name}}</clr-dg-cell>
    <clr-dg-cell class="dg-cell">{{product.Price | number:'2.' }}</clr-dg-cell>
    <clr-dg-cell class="dg-cell">{{product.Count}}</clr-dg-cell>
    <clr-dg-cell>
      <img class="product-image" [src]="product.ImageUrl">
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer class="dg-cell">{{products?.length}} :تعداد کل محصولات</clr-dg-footer>
</clr-datagrid>

<clr-modal class="rtl-modal" [(clrModalOpen)]="isModalOpen">
  <h3 class="modal-title">{{isEdit ? 'ویرایش محصول' : 'افزودن محصول'}}</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container *ngIf="newProduct.Id">
        <label class="modal-field">شناسه محصول</label>
        <input clrInput class="modal-field" type="text"  name="id" [(ngModel)]="newProduct.Id" [disabled]="true">
      </clr-input-container>
      <clr-input-container>
        <label class="modal-field">نام محصول</label>
        <input clrInput class="modal-field" type="text"  name="name" [(ngModel)]="newProduct.Name">
      </clr-input-container>
      <clr-input-container>
        <label class="modal-field">دسته بندی</label>
        <select clrInput class="modal-field" name="category" [(ngModel)]="newProduct.CategoryId">
          <option class="modal-field" *ngFor="let category of categoryService.categories" [value]="category.Id">{{category.Name}}</option>
        </select>
      </clr-input-container>
      <clr-input-container>
        <label class="modal-field">قیمت</label>
        <input clrInput class="modal-field" type="text"  name="price" [(ngModel)]="newProduct.Price">
      </clr-input-container>
      <clr-input-container>
        <label class="modal-field">موجودی</label>
        <input clrInput class="modal-field" type="text"  name="count" [(ngModel)]="newProduct.Count">
      </clr-input-container>
      <clr-input-container>
        <label class="modal-field">عکس</label>
        <input clrInput class="modal-field" #uploader type="file" (change)="onFileChange($event)" accept=".png,.jpeg,.jpg">
      </clr-input-container>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline modal-field" (click)="onCancel()">انصراف</button>
    <button type="button" class="btn btn-primary modal-field" (click)="onOK()"
            [disabled]="!newProduct.Name || !newProduct.CategoryId || !newProduct.Price || newProduct.Count == null || (isEdit? false : !newProduct.ImageData) || (isEdit? false : !newProduct.ImageType)">
      ثبت</button>
  </div>
</clr-modal>

<clr-modal class="rtl-modal" [(clrModalOpen)]="isDeleteModalOpen">
  <div class="modal-body confirm-header">
    <h5>آیا از حذف محصول <span class="text-primary">{{selected?.Name}}</span> مطمعن هستید؟</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline confirm-btn" (click)="onDeleteCancel()">انصراف</button>
    <button type="button" class="btn btn-danger confirm-btn" (click)="onDeleteOK()">
      حذف</button>
  </div>
</clr-modal>
