clr-datagrid{
  min-height: 220px;
}

.dg-header{
  font-size: 16px;
}

.dg-cell{
  font-size: 15px;
}

.dg-detail-header{
  font-size: 15px;
}

.dg-detail-cell{
  font-size: 15px;
}

.confirm-header{
  font-size: 20px;
  min-height: 50px;
}

.confirm-btn{
  font-size: 18px;
}
